<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="body">
    <section class="section">
        <div class="images">
            <% let i = 1 %>
            <% images.forEach(function(image){ %>
                <img id="img<%= i %>" class="image" src="data:image/png;base64,<%= image %>" alt="">
                <% i++ %>
            <% }) %>
        </div>
    </section>
    <script src="main.js" ></script>
</body>
</html>