* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1c1c1c;
}

body::-webkit-scrollbar{
    width: 0 !important;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-fill{
    width: 100%;
}

.image-fit{
    height: 100vh;
}
